<div style="text-align:center;">
<img class="mycarousel" src="{:current($banner)['src']}"  {neq name=":current($banner)['url']" value="" }data-url="{:current($banner)['url']}"{/neq} >
</div>


<div class="container sever col-center">
<h2 class="text-center">找工作</h2>
{volist name="data"  id="vo"}
<div class="sever  row " style="width:900px;height:200px;">
    
   <div class="col-md-4" style="height:200px;">
       <img  src="{$vo.pic}"  width="100%"  height="200px" >
   </div>
   
   <div class="col-md-5" style="height:100%;">
   <div class="col-center" style="align-items:flex-start;height:100%;">
     <p><strong>企业名称：</strong>{$vo.cname}</p>
       <p><strong>招聘岗位：</strong>{$vo.name}</p>
       <p><strong>岗位职责：</strong>{$vo.desc}</p>
   </div>
     
   </div>
   
   <div class="col-md-3 col-center" style="justify-content:space-between;height:100%;">
       <p>
       <span class="fa fa-map-marker"></span>
       {$vo.location}
       </p> 
       
       <button type="button" class="btn jobApply "   data-loading-text="正在报名..." data-jobid="{$vo.jobid}" style="width:100%;background:#000000; color:#ffffff;">申请工作</button> 
       
   </div>
        
<!--        -->
  
  

</div>
   {/volist}
<!--<button type="button"  c class='center-block btn btn-default'>更多工作</button>-->



	<div class="container sever col-center">
	<h2 class="text-center">内推企业</h2>

	<div class=""  >
	 {volist name="companydata" id="vo"}
	  
	 <img class="lazyload" data-src="{$vo.avastar}" alt=""   width="128px" height="64px"  style="margin-top:15px;">
	       
	 {/volist}
	
	</div>
	</div>
   

</div>


<div class="modal fade"  role="dialog" id="addjob" style="">
 <div class="modal-dislog" style=" position:absolute; top: 50%;left: 50%;transform: translate(-50%, -50%);">
     <div class="modal-content">
        <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="text-center text-success">申请成功！</h4>
        </div>
        <div class="modal-body">
        
        <p class="text-center text-success"><span class="fa fa-check-circle fa-3x"></span></p>
        <p class="text-center">您的工作申请已提交</p>
        <p class="text-center">职造师稍后会与您联系！</p>
        <p class="text-center">Thankyou</p>
          
        </div>
<!--         <div class="modal-footer">
        <a type="button" href="{:url('index/index')}" class="btn btn-default">返回首页</a>
        <a type="button" href="{:url('companyadmin/index/login')}" class="btn btn-primary">马上登陆</a>
        <button></button>
        </div>  --> 
     
    </div>

 </div>

</div> 








