<img src="/static/images/zzz.jpg" width="100%" style="height:400px;object-fit:cover;" alt="...">
<div class="container sever">
<h2 class="text-center">找工作</h2>

<div class="sever row">
    {volist name="data"  id="vo"}
    <div class="col-md-3 col-center col-md-offset-2" style="">
        <img src="{$vo.content}" width="350px"  height="200px"  alt="" />
        <button type="button" class="btn jobApply"   data-loading-text="正在报名..." data-pageid="{$vo.pageid}" style="background:#000000; color:#ffffff;margin:15px;">申请工作</button>
    </div>
     {/volist}

</div>
<!--<button type="button"  c class='center-block btn btn-default'>更多工作</button>-->



<div class="container sever">
<h2 class="text-center">内推企业</h2>
    <div class="swiper-container sever" id="company-list">
        <div class="swiper-wrapper row-center">
            {volist name="companydata" id="vo"}
            <div class="swiper-slide company-logo">
                <img src="{$vo.avastar}" alt="" width="100%" height="100%"  style="object-fit: cover;">
            </div>
            {/volist}

        </div>
    </div>

</div>

</div>
