<img src="/static/images/zzz.jpg" width="100%" style="height:400px;object-fit:cover;" alt="...">
<div class="container sever">
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist" id="course">
    <li ><a href="#" style="color:#000000;">课程分类</a></li>
    {volist name="cate" id="vo"}
    
      <li role="presentation" class="{eq name="i"  value="1"}active{/eq}"><a href="#c{$key}"  role="tab" data-toggle="tab">{$vo}</a></li>
    
    {/volist}
 
  </ul>
  
</div>

 
   
  <!-- Tab panes -->
  <div class="tab-content container sever">
    {volist name="course" id="vo"}
    
    
    
        <div role="tabpanel row" class="tab-pane {eq name="i"  value="1"}active{/eq}" id="c{$key}">
      <h3 class="text-center" style="margin-bottom:30px;">{$cate[$key]}</h3>
    {volist name="vo" id="cour"}
           <div class="course-item"  style="width:380px;padding:0 15px;" data-id="{$cour.courseid}">
    <div class="hvr-sweep-to-top coursehover" style="height:200px;width:350px;">
     <img  class="" src="{$cour.label_img}" width="350px"  height="200px"  style="object-fit: cover;position:absolute;" />
     <button class="btn btn-default hidden courseApply" data-loading-text="正在报名..." data-id="{$cour.courseid}" style="position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);z-index:20;" >加入课程</button>
    </div>    
        <h3>{$cour.name}</h3>
        <p class="text-nowrap">{$cour.desc}</p>
        <p>
        <span class="fa fa-eye"></span>
        <span>292</span>
        <span class="pull-right">{$cour.price}元</span>
        </p>
    </div>
    {/volist}

    </div>
    
    {/volist}

    <div role="tabpanel" class="tab-pane" id="profile">2</div>
    <div role="tabpanel" class="tab-pane" id="messages">3</div>
    <div role="tabpanel" class="tab-pane" id="settings">4</div>
  </div>
  
 
  
  
