<img src="/static/images/zzz.jpg" width="100%" style="height:400px;object-fit:cover;" alt="...">
<div class="container">
	<h3 class="text-center">{$data.name}</h3>
	<hr />

	<div class="row">
	   <div class="col-md-6" style="padding-right:0;">
	   <img src="{$data.label_img}" height="200px;" style="object-fit:contain;" width="100%" />
	   </div>
	   <div class="col-md-6 text-center col-center" style="height:200px;border:1px solid #b5b5b5;">
	
		    <p>价格：&yen;{$data.price}</p>
		    <p>课程简介：{$data.desc}</p>
		    <p>课程形式：{$data.type}</p>
	    <button type="button"  class="btn btn-default" id="courseApply" data-loading-text="正在报名..." data-id="{$data.courseid}">马上报名</button>
	   </div>
	</div>
	
<hr />
   <ul class="nav nav-tabs row-center" role="tablist" id="detail">
    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">课程介绍</a></li>
    <li role="presentation"><a href="#profile" aria-contr报名ols="profile" role="tab" data-toggle="tab">课程目录</a></li>
  </ul>
<hr />
</div>

    <div class="tab-content  container ">
    <div role="tabpanel row" class="tab-pane active" id="home">
         <div class="col-md-6" style="padding-right:0;">
         
         </div>
         <div class="col-md-6">
         <p>{$data.content}</p>
         </div>  
     
    </div>
    <div role="tabpanel" class="tab-pane" id="profile">
    
    <p class="text-center">
     {$data.menu}
    </p>
   </div>
    </div>




