<img src="/static/images/zzz.jpg" width="100%" style="height:400px;object-fit:cover;" alt="...">
<div class="container">


	<div class="row" style="margin-top:30px;">

	   <div class="col-md-4" style="padding-right:0;">
	  
	   <img src="{$data.label_img}" height="200px;" style="object-fit:contain;" width="100%" />
	   </div>
	   <div class="col-md-5 col-center" style="height:200px;align-items:flex-start;">
	
	   <dl class="dl-horizontal "  >
	       <dt>课程名称</dt>
	       <dd>{$data.name}</dd>
	       <dt style="margin-top:15px;">课程形式</dt>
	       <dd style="margin-top:15px;">{$data.type}</dd>
	       <dt style="margin-top:15px;">课程简介</dt>
	       <dd style="margin-top:15px;">{$data.desc}</dd>
       </dl>
	   
		  <!--   -->
	   </div>
	   
	   <div class="col-md-3 col-center"  style="justify-content:space-between;height:200px;">
	   <ul>
	   <li>    <h3>&yen;&nbsp;{$data.price}元 </h3></li>
	   <li>    <small >已有{$data.apply}人报名</small></li>
	   </ul>
	   
	
	
	    <button type="button"  class="btn-lg btn btn-default courseApply"  data-loading-text="正在报名..." data-id="{$data.courseid}">马上报名</button>
	   </div>
	   
	</div>
	
<hr />
   <ul class="nav nav-tabs row-center" role="tablist" id="detail">
    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">课程介绍</a></li>
    <li role="presentation"><a href="#profile" aria-contr报名ols="profile" role="tab" data-toggle="tab">课程目录</a></li>
  </ul>
<hr />
</div>

    <div class="tab-content  container ">
    <div role="tabpanel" class="tab-pane active" id="home">
   
       
         <p>{$data.content}</p>
      
     
    </div>
    <div role="tabpanel" class="tab-pane" id="profile">
    
    <p class="text-left">
     {$data.menu}
    </p>
   </div>
    </div>




