{extend name="indexlayout" /}
{block name="nav-job"}weui-bar__item_on{/block}
{block name="title"}找工作{/block}
{block name="css"}
.job-item p,h4{
margin:0;
}
.cate-item{
color:#000000;
}
.cate-item:hover,.cate-item:active,.cate-item:focus{
color:#1881EC;
}
.weui-navbar:after,.weui-navbar__item:after,.hidden{
display:none; 
}
.weui-navbar__item.weui-bar__item--on{
color:#1881ec;
background:#ffffff;
}
.job-item p,h4{
margin:0;
}
.job-item{
display:flex;
width:100%;
overflow:hidden;
margin:13px 0;
height:80px;
background: #FFFFFF;
}


{/block}
{block name="content"}
<div>
<img src="/static/images/zzz.jpg" style="width:100%;object-fit:contain;" alt="" />
</div> 

<div class="weui-tab" id='page-infinite-navbar' style="padding:15px;padding-top:0;">

    <div class="swiper-container" id="cates" style="border-bottom:1px solid #eee;" >
   <div class="swiper-wrapper weui-navbar"  > 
    {volist name="jobcates" id="vo"}
	         <a href='#tab{$vo.cateid}'   data-cateid="{$vo.cateid}" class="swiper-slide weui-navbar__item  {eq name="i"  value="1"}weui-bar__item--on{/eq}"  style="flex:0 0 auto;width:auto;padding:13px 5px;">
                {$vo.name}
             </a>   
    {/volist}

    </div>
   </div> 
 
	
<div class="weui-tab__bd" style="background: #FAFAFA;">
{volist name="jobcates"  id="vo"}
  <div id="tab{$vo.cateid}" class="weui-tab__bd-item   {eq name="i"  value="1"} weui-tab__bd-item--active{/eq}  " style="">
      <!-- cate name -->
      
      <div class=" jobs" style="margin:0;width:100%;">

	  </div><!-- item -->
      
      
     <div class="text-center  hidden">
          <a href="javascript:;"  data-currentpage="1"  data-cateid="{$vo.cateid}"   style="margin-top:15px;"  class="weui-btn weui-btn_mini weui-btn_default loadmore">更多课程</a>
     </div><!-- loadmore -->

	<div class="weui-loadmore hidden loading">
	  <i class="weui-loading"></i>
	  <span class="weui-loadmore__tips">正在加载</span>
	</div><!-- loading -->
	
	<div class="weui-loadmore hidden  weui-loadmore_line  nomore">
	  <span class="weui-loadmore__tips">暂无更多数据</span>
	</div><!-- no more -->
	
    </div><!-- tab -->
{/volist}

</div>

</div>
{/block}
{block name="script"}

$(function(){

  function text(obj){

	el = obj.get(0);
	s = obj.text();
	n = el.offsetHeight;
		for (i = 0; i < s.length; i++) {
		el.innerHTML = s.substr(0, i);
			if (n < el.scrollHeight) {
			el.style.overflow = 'hidden';
			el.innerHTML = s.substr(0, i - 3) + '...';
			break;
			}
		}
	}



//渲染数据
function viewdata(obj,initdata,invoke){
	var html="";
	 for(key in initdata  ){ 
	html+='<div class="job-item "  >'+
	         '<div style="width:75%;">'+
		       '<h3 style="color:#1881ec;">'+initdata[key]['name']+'</h3>'+
			   '<div  style="display:flex;width:100%;">'+
			     '<p style="width:33%;white-space: nowrap;font-weight:700;" >工作职责：</p>'+
			     '<p  class="texts-hide" style="width:66%;height:50px;width:auto;">'+initdata[key]['desc']+'</p>'+
		      '</div>'+
	         '</div>'+
	         '<div class="text-center" style="width:25%;flex-shrink:0;display:flex;align-items:center;flex-direction: column;justify-content: space-around;" >'+
		       '<p class="text-hide" style="width:100%;"><span class="fa fa-map-marker"></span><span>'+initdata[key]['location']+'</span></p>'+
		       '<a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_plain-default  apply" style="padding:0 1.2em;">点击报名</a>'+
	         '</div>'+
           '</div>';
	 }
	 
	 if(invoke){
	  $(obj).html(html);
	 }else{
	    $(obj).append(html);
	 }

}

$(".weui-navbar a").on("click",function(){
var that=$(this);
var cateid=$(this).attr("data-cateid");
$.ajax({
url:"{:url('job/catedetail')}",
data:{cateid:cateid,page:1},
beforeSend:function(){
$(that.attr("href")).find(".nomore").addClass("hidden")
$(that.attr("href")).find("a.loadmore").attr("data-currentpage",1)
$.showLoading();
},
success:function(data){
if(data.length == 0){
$(that.attr("href")).find(".nomore").removeClass("hidden")
return;
}
if(data.length == 4){
$(that.attr("href")).find(".loadmore").parent().removeClass("hidden");
}
viewdata($(that.attr("href")).find(".jobs"),data,true)
},
complete:function(){
$.hideLoading();
}

})
})





$(".weui-navbar a.weui-bar__item--on").trigger("click")


//初始化分类列表
var cates = new Swiper('#cates',{
slidesPerView :'auto',
})

//加载更多   
$(".loadmore").on("click",function(){
        var that=$(this)
    	page=parseInt($(this).attr("data-currentpage"))
    	cateid=$(this).attr("data-cateid")
    	$.ajax({
    		url:"{:url('job/catedetail')}",
    		data:{cateid:cateid,page:page+1},
    		beforeSend:function(){
    		that.parent().next().removeClass("hidden")
    		that.parent().addClass("hidden")
    		},
    		success:function(data){
    			if(data.length == 0){
    			   that.parent().next().next().removeClass("hidden")
    			     that.parent().next().addClass("hidden")
    			   return;
    			}
    			if(data.length > 0){
    				that.parent().removeClass("hidden")
    			}
    		    that.parent().next().addClass("hidden")
    		    that.attr("data-currentpage",page+1)
    			viewdata(that.parent().prev(),data,false)
    		},

    	})
  
})



})




  
{/block}
