{extend name="indexlayout" /}
{block name="nav-course"}weui-bar__item_on{/block}
{block name="title"}微课{/block}
{block name="css"}
.course-item p,h4{
margin:0;
}
.cate-item{
color:#000000;
}
.cate-item:hover,.cate-item:active,.cate-item:focus{
color:#1881EC;
}
{/block}
{block name="content"}
<div class="content-padded"   style="height:30px;">
<p></p>
</div>  

<div class="swiper-container sever" id="cates"  style="border-bottom:1px solid #eee;padding:0 15px;">

    <div class="swiper-wrapper">
       <div class="swiper-slide" style="width:auto;line-height:2;">
         <a href="#" style="margin:0;color:#1881Ec;">职造课程</a>
       </div>
    {volist name="cates" id="vo"}
        <div class="swiper-slide" style="width:auto;line-height:2;">
	        <div class="weui-navbar__item weui_bar__item_on" style="padding:0;">
	                   {$vo.name}
	        </div>
        </div>
    {/volist}
    </div>
</div>
	<div class="tabs">
	   <div id="tab0"    class="tab row active  infinite-scroll courselist">
       
         </div>


	   <div id="tab1" class="tab row  infinite-scroll courselist"></div>
	   <div id="tab2" class="tab  row  infinite-scroll courselist"></div>
	</div>




{/block}
{block name="script"}

var cates = new Swiper('#cates',{
slidesPerView :'auto',
spaceBetween : 20,
})

var loading = false;  //状态标记
$(document.body).infinite().on("infinite", function() {
  if(loading) return;
  loading = true;
  setTimeout(function() {
    $("#list").append("<p> 我是新加载的内容 </p>");
    loading = false;
  }, 1500);   //模拟延迟
});



{/block}
    <div class="content " style="background:#ffffff;">

        <!-- Slider -->
        <div class="swiper-container" >
            <div class="swiper-wrapper">
                <div class="swiper-slide" ><img style="width:100%;height:226px;object-fit:cover;" src="//gqianniu.alicdn.com/bao/uploaded/i4//tfscom/i1/TB1n3rZHFXXXXX9XFXXXXXXXXXX_!!0-item_pic.jpg_320x320q60.jpg" alt=""></div>
                <div class="swiper-slide" ><img style="width:100%;height:226px;object-fit:cover;" src="//gqianniu.alicdn.com/bao/uploaded/i4//tfscom/i4/TB10rkPGVXXXXXGapXXXXXXXXXX_!!0-item_pic.jpg_320x320q60.jpg" alt=""></div>
                <div class="swiper-slide" ><img style="width:100%;height:226px;object-fit:cover;" src="//gqianniu.alicdn.com/bao/uploaded/i4//tfscom/i1/TB1kQI3HpXXXXbSXFXXXXXXXXXX_!!0-item_pic.jpg_320x320q60.jpg" alt=""></div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
        <h3 class="text-center" style="margin-top:0;">课程分类</h3>



        <div class="buttons-tab fixed-tab" style="overflow: scroll;">


       {volist name="cate" id="vo"}
       <a href="#tab{$key}" class="tab-link {eq name="i"  value="1"}active{/eq} button">{$vo}</a>
       {/volist}


        </div>
        <div class="content-block">
            <div class="tabs">
       {volist name="course" id="vo"}



       <div id="tab{$key}" class="row  tab {eq name="i"  value="1"}active{/eq}">
      <h3 class="text-center" style="margin-bottom:30px;">{$cate[$key]}</h3>
    {volist name="vo" id="cour"}
        <div class="col-50   course-item" data-id="{$cour.courseid}">
	       <img src="{$cour.label_img}" alt="" style="width:146px;height:103px;"/>
	       <p  class="course-name">{$cour.name}</p>
	       <p>{$cour.desc}</p>
	       <p>&yen;{$cour.price}</p>
	    </div>
    {/volist}

    </div>

    {/volist}

            </div>
        </div>

    </div>

<script>
$(function(){

    $(".course-item").on("click",function(){
        var id=$(this).attr("data-id");
        location.href="../course/courseDetail?courseid="+id;

    })


    $.config = {router: false}
    $.init();

});
</script>
</body>
</html>