{extend name="indexlayout" /}
{block name="nav-course"}weui-bar__item_on{/block}
{block name="title"}微课{/block}
{block name="css"}

.course-item p,h4{
margin:0;
}
.cate-item{
color:#000000;
}
.cate-item:hover,.cate-item:active,.cate-item:focus{
color:#1881EC;
}
.weui-navbar:after,.weui-navbar__item:after,.hidden{
display:none; 
}
.weui-navbar__item.weui-bar__item--on{
color:#1881ec;
background:#ffffff;
}
.course-item p,h4{
margin:0;
}
.course-item{
width:50%;
box-sizing:border-box;
padding-right:5%;
}


{/block}
{block name="content"}
<div style="padding:15px;">
<p>{$content}</p>
</div>  

<div class="weui-tab" id='page-infinite-navbar' style="min-height:100%;">
  
    <div class="swiper-container" id="cates" style="border-bottom:1px solid #eee;" >
   <div class="swiper-wrapper weui-navbar"  > 
    {volist name="cates" id="vo"}
	         <a href='#tab{$vo.cateid}'   data-cateid="{$vo.cateid}" class="swiper-slide weui-navbar__item {eq name="i" value="1"}weui-bar__item--on{/eq} "  style="flex:0 0 auto;width:auto;padding:13px 5px;">
                {$vo.name}
             </a>   
    {/volist}
    </div>
   </div> 
 
	
<div class="weui-tab__bd" style="overflow:hidden;">

{volist name="cates"  id="vo"}
  <div id="tab{$vo.cateid}" class="weui-tab__bd-item   {eq name="i"  value="1"} weui-tab__bd-item--active{/eq}  " style="">
      <h2 class="text-center" style="margin:15px 0;">{$vo.name}</h2>
      <!-- cate name -->
      
      <div class="row-center courses" style="margin-left:5%;flex-wrap:wrap;justify-content:flex-start;">
      
	  </div><!-- item -->
      
      
     <div class="text-center  hidden">
          <a href="javascript:;"  data-currentpage="1"  data-cateid="{$vo.cateid}"   style="margin-top:15px;"  class="weui-btn weui-btn_mini weui-btn_default loadmore">更多课程</a>
     </div><!-- loadmore -->

	<div class="weui-loadmore hidden loading">
	  <i class="weui-loading"></i>
	  <span class="weui-loadmore__tips">正在加载</span>
	</div><!-- loading -->
	
	<div class="weui-loadmore hidden  weui-loadmore_line  nomore">
	  <span class="weui-loadmore__tips">暂无更多数据</span>
	</div><!-- no more -->
	
    </div><!-- tab -->
{/volist}

</div>

</div>
{/block}
{block name="script"}

$(function(){

$(".courses").on("click",".course-item",function(){
var courseid=$(this).attr("data-courseid")
location.href="/mobile/course/detail?courseid="+courseid;
})

//渲染数据
function viewdata(obj,initdata,invoke){
	var html="";
	 for(key in initdata  ){ 
	html+=  '<div class=" course-item" data-courseid="'+initdata[key]['courseid']+'">'+
		    ' <img src="'+initdata[key]['label_img']+'" style="object-fit:cover;width:100%;height:8rem;" />'+
			'<h4>'+initdata[key]['name']+'</h4>'+
			'<p class="text-nowrap">'+initdata[key]['desc']+'</p>'+
			'<p>'+
			'<span class="fa fa-eye"></span>'+
			'<span>'+initdata[key]['pageview']+'</span>'+
			'<span class="pull-right">'+initdata[key]['price']+'元</span>'+
			'</p></div>'	 
	 }
	 
	 if(invoke){
	  $(obj).html(html);
	 }else{
	    $(obj).append(html);
	 }

}

//切换选项卡事件
$(".weui-navbar a").on("click",function(){
var that=$(this);
var cateid=$(this).attr("data-cateid");
if(cateid==0){
}
$.ajax({
url:"{:url('course/catedetail')}",
data:{cateid:cateid,page:1},
beforeSend:function(){
$(that.attr("href")).find(".nomore").addClass("hidden")
$(that.attr("href")).find("a.loadmore").attr("data-currentpage",1)
$.showLoading();
},
success:function(data){
if(data.length == 0){
$(that.attr("href")).find(".nomore").removeClass("hidden")
   return;
}
if(data.length == 4){
$(that.attr("href")).find(".loadmore").parent().removeClass("hidden");
}
viewdata($(that.attr("href")).find(".courses"),data,true)
},
complete:function(){
$.hideLoading();
}

})
})

//页面初始化时
$(".weui-navbar a.weui-bar__item--on").trigger("click")

//初始化分类列表
var cates = new Swiper('#cates',{
slidesPerView :'auto',
})

//加载更多   
$(".loadmore").on("click",function(){
        var that=$(this)
    	page=parseInt($(this).attr("data-currentpage"))
    	cateid=$(this).attr("data-cateid")
    	$.ajax({
    		url:"{:url('course/catedetail')}",
    		data:{cateid:cateid,page:page+1},
    		beforeSend:function(){
    		that.parent().next().removeClass("hidden")
    		that.parent().addClass("hidden")
    		},
    		success:function(data){
    			if(data.length == 0){
    			   that.parent().next().next().removeClass("hidden")
    			     that.parent().next().addClass("hidden")
    			   return;
    			}
    			if(data.length > 0){
    				that.parent().removeClass("hidden")
    			}
    		    that.parent().next().addClass("hidden")
    		    that.attr("data-currentpage",page+1)
    			viewdata(that.parent().prev(),data,false)
    		},

    	})
  
})



})




  
{/block}
