<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>人才管理</title>
<link rel="stylesheet" type="text/css" href="/admin/layui/css/layui.css" />
</head>
<style type="text/css">
.flex-row {
	display: flex;
	align-items: center;
}
</style>

<body  style="scroll-x:scroll;">

	
	
	
	<form class="layui-form">
	
<div style="margin-bottom:30px;display:flex;margin-left:63px;">
  <p style="margin-right:15px;">内容</p>
  <script id="container" name="content" type="text/plain">  
  {$data.content??''}
  </script>
</div>

  <div class="layui-form-item">
    <div class="layui-input-block">
      <button class="layui-btn" lay-submit lay-filter="formDemo">立即发布</button>
      
    </div>
  </div>

  </form>
	
	
   
   
   
   
   
   
   
   
    <script type="text/javascript" src="/admin/ueditor/ueditor.config.js"></script>
    <!-- 编辑器源码文件 -->
    <script type="text/javascript" src="/admin/ueditor/ueditor.all.js"></script>
    <script src="/admin/layui/layui.js"></script>
	<script type="text/javascript">
	var tranStatus={
			'发布':1,
			'不发布':0
	}
	 var ue = UE.getEditor('container',{
		 initialFrameWidth :1000,
		 initialFrameHeight :600,
		 zIndex:300	,
		 pasteplain:true
	 });
		layui.use([ 'table', 'layer','jquery','form',"upload" ], function() {
			var $=layui.jquery;
			var table = layui.table;
			var layer=layui.layer;		
			var form = layui.form;
     
			  form.on('submit(formDemo)', function(data){
	                if(ue.getContent()==""){
	                    layer.msg("请编辑内容",{icon:5,shift:6})
	                    return false;
	                }
	                var url="{:url('editPage')}";
	                var data={data:data.field}
	                {present name="data"}
	                data['pageid']="{$data.pageid}"
	                {/present}
	                    $.ajax({
	                        url:url,
	                        data:data,
	                        type:"POST",
	                        beforeSend:function(){
	                            layer.load(2, {shade: false});
	                        },
	                        success:function(data){
	                            layer.closeAll()
	                            if(data==1){
	                                layer.msg("保存成功",{ time: 700 },function(){
	                                    history.go(0)
	                                })
	                            }
	                        }
	                    })
	                    return false;
	                });

				
		})		

		

		
		
	</script>

</body>

</html>