{extend name="indexlayout" /}
{block name="csslink"}
<link rel="stylesheet" href="/static/css/swiper.min.css" />
<link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
{/block}
{block name="css"}
.company-logo{
width:8rem; 
height:4rem; 
}
.course-item p,h4{
margin:0;
}
.course-item{
width:45%;
}
{/block}
{block name='nav-index'}weui-bar__item_on{/block}
{block name="content"}
    <div class="swiper-container" id="coursel" >
            <div class="swiper-wrapper">
                    <div class="swiper-slide" ><img style="width:100%;height:226px;object-fit:cover;" src="//gqianniu.alicdn.com/bao/uploaded/i4//tfscom/i1/TB1n3rZHFXXXXX9XFXXXXXXXXXX_!!0-item_pic.jpg_320x320q60.jpg" alt=""></div>
                    <div class="swiper-slide" ><img style="width:100%;height:226px;object-fit:cover;" src="//gqianniu.alicdn.com/bao/uploaded/i4//tfscom/i4/TB10rkPGVXXXXXGapXXXXXXXXXX_!!0-item_pic.jpg_320x320q60.jpg" alt=""></div>
                    <div class="swiper-slide" ><img style="width:100%;height:226px;object-fit:cover;" src="//gqianniu.alicdn.com/bao/uploaded/i4//tfscom/i1/TB1kQI3HpXXXXbSXFXXXXXXXXXX_!!0-item_pic.jpg_320x320q60.jpg" alt=""></div>
                </div>
                <div class="swiper-pagination"></div>
            </div>           
		     <div class="content-padded" style="padding:15px;">
		            <p>{$data}</p>
		    </div>    
       <h2 class="text-center ">职造课程</h2>
       <div class="row-center" style="margin:0;width:100%;flex-wrap:wrap;justify-content:space-around;">
      {volist name="coursedata" id="vo"}
      <div class=" course-item" data-courseid="{$vo.courseid}">
          <img src="{$vo.label_img}" style="object-fit:cover;width:100%;height:8rem;" />
       <h4>{$vo.name}</h4>
       <p class="text-nowrap">{$vo.desc}</p>
       <p>
       <span class="fa fa-eye"></span>
       <span>{$vo.pageview}</span>
       <span class="pull-right">{$vo.price}元</span>
       </p>
	  </div>
	  {/volist}
	  </div>

	<div class="container sever">
	<h2 class="text-center">内推企业</h2>
	
	<div class="swiper-container sever" id="company-list">
	    <div class="swiper-wrapper ">
	        {volist name="companydata" id="vo"}
	        <div class="swiper-slide company-logo">
	            <img src="{$vo.avastar}" alt=""  style="width:100%;height:100%;"   >
	        </div>
	        {/volist}
	
	    </div>
	</div>
	</div>
   
   
{/block}
{block name="scriptlink"}<script src="/static/js/swiper.min.js"></script>{/block}
{block name="script"}
$(".course-item").on("click",function(){
var courseid=$(this).attr("data-courseid")
location.href="/mobile/course/detail?courseid="+courseid;
})

  var mySwiper = new Swiper ('#company-list', {
	slidesPerView : "auto",
	spaceBetween : 20,
    freeMode:true
  })
    var coursel = new Swiper ('#coursel', {
    pagination: {
     el: '.swiper-pagination',
    },
  })
    
{/block}