{extend name="indexlayout" /}
{block name="csslink"}
<link rel="stylesheet" href="/static/css/swiper.min.css" />
<link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
{/block}
{block name="css"}
.company-logo{
width:8rem; 
height:4rem; 
}
.course-item p,h4{
margin:0;
}
.course-item{
width:50%;
box-sizing:border-box;
padding-right:5%;
}
{/block}
{block name='nav-index'}weui-bar__item_on{/block}
{block name="content"}
    <div class="swiper-container" id="coursel" >
            <div class="swiper-wrapper">
            {volist name="carousel" id="vo"}
            <div class="swiper-slide " style="width:100%;height:155px;text-align:center;" >
             <img class="mycarousel"  src="{$vo.src}"  {neq name="$vo.url" value=""}data-url="{$vo.url}"{/neq}  alt=""  style="max-width:100%;height:100%;">
            </div>
            {/volist}     
            </div>
                <div class="swiper-pagination"></div>
            </div>           
		     <div class="content-padded" style="padding:15px;">
		            <p>{$data}</p>
		    </div>    
       <h2 class="text-center ">职造课程</h2>
       <div class="row-center" style="margin-left:5%;flex-wrap:wrap;justify-content:flex-start;">
      {volist name="coursedata" id="vo"}
      <div class=" course-item" data-courseid="{$vo.courseid}">
          <img src="{$vo.label_img}" style="object-fit:cover;width:100%;height:8rem;" />
       <h4>{$vo.name}</h4>
       <p class="text-nowrap">{$vo.desc}</p>
       <p>
       <span class="fa fa-eye"></span>
       <span>{$vo.pageview}</span>
       <span class="pull-right">{$vo.price}元</span>
       </p>
	  </div>
	  {/volist}
	  </div>

	<div class="container sever col-center">
	<h2 class="text-center">内推企业</h2>

	<div class="sever " style="padding-left:15px;">
	  
	        {volist name="companydata" id="vo"}
	    
	            <img src="{$vo.avastar}" alt=""  style="width:128px;height:64px;max-width:50%;margin-right:15px;"   >
	      
	        {/volist}
	</div>
	</div>
   
   
{/block}
{block name="scriptlink"}<script src="/static/js/swiper.min.js"></script>{/block}
{block name="script"}





$(".course-item").on("click",function(){
var courseid=$(this).attr("data-courseid")
location.href="/mobile/course/detail?courseid="+courseid;
})


    var coursel = new Swiper ('#coursel', {
    pagination: {
     el: '.swiper-pagination',
    },
  })
    
{/block}